<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:url" content="https://www.lybrate.com/consult-privately">
    <title>Online Doctor Consultation - Consult India's Best Doctors Online | Lybrate</title>
    <link rel="icon" sizes="192x192" href="https://nu.lybcdn.com/img/push-crew/logo_192_by_192.png">

    <link rel="stylesheet" href="/static/allDoctors.css">

</head>

<body>
    <div id="nav">

        <div id="navbar">
            <img style="margin-left: -330px; margin-top: 6px"
                src="https://nu.lybcdn.com/img/lybrate-logo-pure-white-small.png">
            <p onclick="downloadapp()">Download App</p>
            <p onclick="login()">Login</p>
            <p onclick="signup()">Signup</p>
            <p onclick="fordoctors()">For Doctors</p>
            <p onclick="healthfeed()">Health Feed</p>
        </div>
    </div>
    <div id="cunsultentDefault" style="color: rgb(255, 255, 255); height: 550px;">
        <div id="consultentDefaulttext">BEAT TRAFFIC JAM AND CLINIC QUEUES.</div>
        <h1>Consult Best Doctors From Anywhere, Anytime.</h1>
        <!-- <input type="text" id="searchbar" placeholder="Search by Speciality/ Symptom"> -->
        <select name="cars" id="searchbar">
            <option >Dermatology</option>
            <option >General Physicians</option>
            <option >Gynaecology</option>
            <option >Sexology</option>
            <option >Psychiatry</option>
            <option >Ayurveda</option>
            <option >Dentiest</option>
            <option >ditetion/Nutritionist</option>
            <p></p>
        </select>
        <button id="searchbarbutton" onclick="gynaecologist()">Search</button></br>
        <div id="quickaction">
            <img src="	https://www.lybrate.com/img/ic_doctor.png" alt="">
            <img id="arrow" src="https://nu.lybcdn.com/img/ic_arrow.png" alt="">
            <img src="https://www.lybrate.com/img/Rupee-private-icon.png" alt="">
            <img id="arrow" src="https://nu.lybcdn.com/img/ic_arrow.png" alt="">
            <img src="	https://www.lybrate.com/img/Video-private-icon.png" alt="">
        </div>
        <div id="choseaction">
            <p id="choseactionfirst">Choose your Doctor</p>
            <p>Pay Consultation Fee</p>
            <p>Talk to the Doctor</p>
        </div>
    </div>
    <div class="bg-dark center-align">
        <h2>Why use Lybrate</h2>
        <div>
            <div>
                <img id="img1" src="https://nu.lybcdn.com/img/ic_doctor_106X106.png" />
                <h3>100,000+ verified doctors</h3>
                <p class="firsttext">All doctors on Lybrate go</br>
                    through a stringent</br>
                    verification process</p>
            </div>
            <div>
                <img src="https://nu.lybcdn.com/img/ic_heart_106X106.png" />
                <h3>24*7 access to healthcare</h3>
                <p class="firsttext">Easy access to the best</br>
                    doctors anytime,</br>
                    anywhere</p>
            </div>
            <div>
                <img src="https://nu.lybcdn.com/img/ic_save_money_106X106.png" />
                <h3>Save time & money</h3>
                <p class="firsttext">Save upto 70% in time</br>
                    and money spent for</br>
                    consultation</p>
            </div>
            <div>
                <img src="https://nu.lybcdn.com/img/ic_time_106X106.png" />
                <h3>100% care guaranteed</h3>
                <p class="firsttext">We'll refund your money if</br>
                    you're not satisfied with</br>
                    our service</p>
            </div>
        </div>
        <div class="clear"></div>


    </div>
    <h2>Top Categories</h2>
    <div class="container4">

        <div>
            <img class="imgpointer" src="https://nu.lybcdn.com/img/dietitian-nutritionist.jpg">
            <div class="di-title dtfont" onclick="ditetion()">Dietitian/Nutritionist</div>
        </div>


        <div>
            <img class="imgpointer" src="	https://nu.lybcdn.com/img/gynaecologist.jpg">
            <div class="di-title dtfont" onclick="gynaecologist()">Gynaecologist</div>
        </div>

        <div>
            <img class="imgpointer" src="https://nu.lybcdn.com/img/psychologist.jpg">
            <div class="di-title dtfont" onclick="gynaecologist()">Psychologist</div>
        </div>

        <div>
            <img class="imgpointer" src="https://nu.lybcdn.com/img/dermatologist.jpg">
            <div id="diii-title" class="dtfont" onclick="gynaecologist()">dermatologist</div>
        </div>

    </div>
    <div class="container5">

        <div>
            <img class="imgpointer" src="https://nu.lybcdn.com/img/sexologist.jpg" id="img1">
            <div class="di-title dtfont" onclick="gynaecologist()">Sexologist</div>
        </div>

        <div>
            <img class="imgpointer" src="https://nu.lybcdn.com/img/ayurveda.jpg">
            <div class="di-title dtfont" onclick="gynaecologist()">Ayurveda</div>
        </div>

        <div>
            <img class="imgpointer" src="https://nu.lybcdn.com/img/homeopath.jpg">
            <div id="diii-title" class="dtfont" onclick="gynaecologist()">homeopath</div>
        </div>



    </div>
    <button id="btn" onclick="consultonline()">View More
        <img src="	https://www.lybrate.com/img/arrow_24x24.png" alt="">
    </button>
    </div>
    </br>
    <div class="line"></div>
    <h2>Top Doctors Helping Patients</h2>
    <% doctor.forEach((doctor)=>{%>
        <div id="grid">
            <div class="cunsultent">
                <div>
                    <img src=<%=doctor.doctorpic %>>
                </div>
                <div>
                    <a class="name" onclick="notsetyet()">
                        <%=doctor.name%>
                    </a></br>
                    <div class="degree"><%=doctor.degree%></div></br>
                    <p class="speciality"><%=doctor.speciality%></p></br>
                    <div class="clinicname"><%=doctor.clinicname%></div>
                </div>
                <div class="peopleHelped"><span class="heart"><img id="redheart"
                            src="<%=doctor.redheart%>"></span><%=doctor.votes%></div>
                <div class="a-yearsExperience">
                    <span class="d-number">
                        <span class="i-briefCase"><img id="redheart"
                                src="<%=doctor.bag%>"></span><%=doctor.experience%>
                    </span>
                </div>
                <div class="a-consultationCost">
                    <span class="i-rupee">
                        <img id="redheart" class="cost" src=<%=doctor.rupee%>>
                    </span>
                    <span class="d-text">INR</span>
                    <span class="d-number">
                    <%=doctor.price%>
                    </span>
                </div>
                <button onclick="consultnow()" class="cunsoltbutton">Consult Online</button>
            </div>
            <% }) %>
                        <div class="sec-footer">
                            <h2 class="headingh2">Consult Doctor Online at Lybrate For Medical Assistance </h2>
                            <p class="parap">Forget the hassle of booking appointments! Consult a doctor at your ease
                                with <a href="https://www.lybrate.com?lpt=con-priv" target="_blank"> Lybrate</a> where
                                we offer premium healthcare
                                services through the network of experienced and certified doctors. Skip the struggle of
                                rush hour and long
                                queues
                                and get expert advice anytime and anywhere. Lybrate gives you access to over 100,000
                                highly trained medical
                                experts.
                                You get the most excellent medical services by subscribing to Lybrate. Coupled with the
                                most advanced treatments
                                and
                                accurate diagnosis, a subscription to Lybrate can help you get in touch with the most
                                reputed healthcare
                                professionals.</p>
                            <p class="parap">Get online doctor consultation easily and securely via the Lybrate Platform
                                where different
                                specialized <a
                                    href="https://www.lybrate.com/consult-privately/general-physician?lpt=con-priv"
                                    target="_blank">General
                                    Physicians</a>, Ayurvedic Doctors, Dietician, <a
                                    href="https://www.lybrate.com/consult-privately/dermatologist?lpt=con-priv"
                                    target="_blank">Skin
                                    Specialists</a>, <a
                                    href="https://www.lybrate.com/consult-privately/sexologist?lpt=con-priv"
                                    target="_blank">Sexologists</a>, <a
                                    href="https://www.lybrate.com/consult-privately/gynaecologist?lpt=con-priv"
                                    target="_blank">Gynaecologists</a>, Nutritionists, Psychiatrist are connected to
                                offer medical assistance
                                via a
                                different mode of communication. Now you can get in touch with online doctors 24*7 and
                                healthcare professionals
                                from
                                anywhere and any time by connecting with us. Now Join with Online Doctor Consultion
                                Netowork through Lybrate
                                Platform and App to get to ask health questions freely, health consultations, and easy
                                appointments.</p>
                            <h3 class="headingh3">Get Online Doctor Consultation - Safe, Secure &amp; Easy </h3>
                            <p class="parap">Lybrate is the best online doctor consultation app that has revolutionized
                                the way people in India
                                think and take
                                care of their health and fitness needs. Doctor connected with Lybrate Highly Experienced
                                and Professionally
                                trained.
                                Many of them hold an experience of over 20 years and serve the best for their patients.
                                Now connect with
                                Professional and Experience Doctor anytime and anywhere you need it, Lybrate helps
                                patients to connect Doctors
                                which
                                are beyond, cities, states, and even countries boundaries. A smart way to seek the
                                answer to your health queries
                                from a highly experienced doctor online.</p>
                            <h3 class="headingh3">How Online Doctor Consultation Process Works at Lybrate? </h3>
                            <p class="parap">Now Consult with Professional Doctor Online at Lybrate privately by
                                following Steps. Online Doctor
                                consultation
                                process works very easily and effortlessly. Here are the steps that you should follow to
                                consult:</p>
                            <ul class="parap">
                                <li><strong>Step 1: Select Doctor :-</strong>You can select the Doctor according to
                                    Speciality and Symptoms. You
                                    can
                                    also search Doctor easily from Search panel from anywhere and anytime. Also, check
                                    out complete Doctor
                                    Details
                                    such as Doctor Experience, Doctor Rating, and more.</li>
                                <li><strong>Step 2: Select Preferred Consultation Mode :-</strong> After selecting a
                                    Doctor, you can choose a
                                    suitable mode out of them to help the doctor understand your case better. Here 3
                                    Mode of Communication are
                                    offered, you can consult a Doctor online through Text or Chat, Phone and Video Call.
                                </li>
                                <li><strong>Step 3: Describe Purpose of Consultation in Details-</strong> Here you need
                                    to share some basic info
                                    about yourself which is only visible only to the doctor as per medical guidelines
                                    and List down your concern
                                    and
                                    share the medical history and rest of the details.</li>
                                <li><strong>Step 4: Pay Consultation Fee Online :-</strong>Medical assistance is
                                    available at very
                                    cost-effective
                                    rates. You can pay via different Payment modes such as Google pay, Debit / Credit
                                    cards, Paypal, Paytm
                                    Wallet,
                                    Amazon Pay, PhonePe, Freecharge, and more.</li>
                                <li><strong>Step 5: Connect with Doctor:-</strong> Get in touch with your doctor to get
                                    a diagnosis and
                                    appropriate
                                    treatment for your medical condition.</li>
                            </ul>
                            <h3 class="headingh3">Refund Policy on Online Doctor Consultation</h3>
                            <p class="parap">We have a Refund policy on consultation at Lybrate. If a patient is not
                                satisfied with the online
                                consultation, they
                                can write to us. We will evaluate the consultation with the doctor for further
                                clarification. 100% refund will
                                be
                                granted in genuine circumstances.</p>
                        </div>
                        <div class="footer">
                            <div class="footerrow parap">
                                <li class="section-title">DELHI</li>
                                <li>Dentist in Delhi</li>
                                <li>General Physicians in Delhi</li>
                                <li>Cardiologist in Delhi</li>
                                <li>Gynaecologist in Delhi</li>
                                <li>Neurologist in Delhi</li>
                            </div>
                            <div class="footerrow parap">
                                <li class="section-title">Mumbai</li>
                                <li>Dentist in Mumbai</li>
                                <li>Physicians in Mumbai</li>
                                <li>Cardiologist in Mumbai</li>
                                <li>Gynaecologist in Mumbai</li>
                                <li>Neurologist in Mumbai</li>
                            </div>
                            <div class="footerrow parap">
                                <li class="section-title">Banglore</li>
                                <li>Dentist in Banglore</li>
                                <li>Physicians in Banglore</li>
                                <li>Cardiologist in Banglore</li>
                                <li>Gynaecologist in Banglore</li>
                                <li>Neurologist in Banglore</li>
                            </div>
                            <div class="indexes">
                                <div class="copyright index">
                                    <a>City Index</a>
                                    <a>Locality City Index</a>
                                    <a>Specialty Index</a>
                                    <a>Specialty City Index</a>
                                    <a>Health Wiki</a>
                                    <a>Health Tips Index</a>
                                    <a>Health Questions Index</a>
                                    <a>Health Quizzes Index</a>
                                    <a>Health Topics Index</a>
                                    <a>Medicines Index</a>
                                    <a>Health Packages</a>
                                    <a>Lab Test Details Index</a>
                                </div>
                                <div class="copyright" id="cprt">
                                    © 2020 Lybrate, Inc. All rights reserved.
                                </div>
                                <div class="socialmedia">
                                    <img src="https://nu.lybcdn.com/img/facebook_small.png" alt="">
                                    <img src="https://nu.lybcdn.com/img/twitter_small.png" alt="">
                                    <img src="https://nu.lybcdn.com/img/linkedin_small.png" alt="">
                                </div>
                            </div>
                        </div>
</body>

</html>

<!-- <script src="consultonline.js"></script> -->
<script>
    function signup() {
        window.location.href = "/doctor/signup";
        }

        function login() {
            window.location.href = "/doctor/login";
        }

        function healthfeed() {
            window.location.href = "/doctor/healthfeed";
        }

        function downloadapp() {
            window.location.href = "/doctor";
        }
        function consultonline() {
            window.location.href = "/doctor/consultnow";
        }
        function consultnow() {
            window.location.href = "/doctor/consultnow";
        }
        function home() {
            window.location.href = "/doctor";
        }

</script>
