<!DOCTYPE html>
<html lang="en">

<head>
    <title>Health Feed - Health tips and advice from top doctors, health experts | ...</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384- 
 B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/health_feed.css">
</head>

<body>
    <header>
        <div class="topbar">
            <div class="container">
                <a href="https://www.lybrate.com/mobile?lpt=HOME">Get the App</a>
                <a href="/fordoctors">For Doctors</a>
                <a href="/feed">Health Feed</a>
                <a href="/signup">Login/Sign-up</a>
            </div>
        </div>

        <div class="logo_and_nav_section" style="background: white;">
            <div class="container">
                <div class="logo_container">
                    <img class="logo"
                        src="https://assets.lybrate.com/q_auto,f_auto//imgs/product/logos/Lybrate-Logo.png"
                        alt="lybrate" onclick="homePage()">
                </div>

                <div class="nav_and_cart_section">
                    <nav class="navigation_menu">
                        <div>
                            <img src="https://assets.lybrate.com/q_auto,f_auto,h_28,w_28,c_fill/imgs/product/Homepage/Ask-Question.png"
                                alt="">
                            <a href="/askQuestion">Ask a Question</a>
                        </div>
                        <div>
                            <img src="https://assets.lybrate.com/q_auto,f_auto,h_28,w_28,c_fill/imgs/product/Homepage/Book-Appointment.png"
                                alt="">
                            <a href="/bookAppointment">Book Appointment</a>
                        </div>
                        <div>
                            <img src="https://assets.lybrate.com/q_auto,f_auto,h_28,w_28,c_fill/imgs/product/Homepage/Consult-Online.png"
                                alt="">
                            <a href="/doctor">Consult Online</a>
                        </div>
                        <div>
                            <img src="https://assets.lybrate.com/q_auto,f_auto,h_28,w_28,c_fill/imgs/product/Homepage/Book-Lab-test.png"
                                alt="">
                            <a href="#">Book Lab Test</a>
                        </div>
                    </nav>

                    <div class="goodcart_and_cart_section">
                        <button>
                            <img src="../images/goodcart.png" alt="" onclick="gotoCart()">
                        </button>

                        <div class="cart_img_container">
                            <img src="../images/cart.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- social media links -->
    <div id="socialmedia">
        <a href="https://www.facebook.com/"><i id="facebook" class="fa fa-facebook"></i></a>
        <a href="https://twitter.com/?lang=en"> <i id="twitter" class="fa fa-twitter"></i></a>
        <a href="https://in.linkedin.com/"><i id="linkedin" class="fa fa-linkedin"></i></a>
        <a href="https://mail.google.com/mail/"><i id="gmail" class="fa fa-envelope icon"></i></a>
    </div>

    <!-- search bar for health information -->
    <div class="searchBar">
        <input type="text" id="search" placeholder="Search for any health keyword">
        <button>Search</button>
    </div>

    <!-- drop down search bar options -->
    <div id="dropDown">
        <li></i>Acne and Pimple</li>
        <li>Depression</li>
        <li>Diabities</li>
        <li>Hair Fall</li>
        <li>Pregnancy</li>
        <li>HeadAche</li>
    </div>

    <!-- current page navigator -->
    <div id="pageNavigation">
        <a href="homeurl">Home > </a>Health Feed
    </div>

    <!-- question ansswer section -->
    <div id="rightSection">
        <div class="rightTop">
            <div class="questionBox">
                <div class="questionHead">
                    <div>
                        <i id="email" class="fa fa-envelope icon"></i>
                    </div>
                    <div>
                        <h2>Ask a FREE Question</h2>
                        <p style="font-size: 14px; margin-top: 4px; color: rgb(58, 57, 57);">Get a Free multiple
                            opinions from Doctors</p>
                    </div>

                </div>
                <div class="description">
                    <textarea name="" id="" cols="5" rows="6"
                        placeholder="Enter questio for you or someone else. E.g. my left eye is red and swollen..."></textarea>
                    <div class="lastPart">
                        <p>Posted anonymously</p>
                        <p>Submit</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- image part -->
        <div class="rightBottom">
            <a href="covidPage">
                <img src="https://assets.lybrate.com/q_auto,f_auto/rio/800x800/Lybrate_Covid-Care_Banner_320x235_18-05-2021.jpg"
                    alt=""></a>
        </div>
    </div>

    <!-- membership section -->
    <div class="membership">
        <p>Health Feed - Articles, Q&As, Quizzes and More</p>
        <a href="membership_page">
            <div class="firstImage">
                <img src="https://assets.lybrate.com/swan/patmem/LybrateGold_Color.png" alt="">
            </div>
            <div class="second">
                <span class='title'>Lybrate Gold</span>
                <p class="desc">Become a member today and enjoy limitless health privileges, Good health made easy!</p>
            </div>
            <div class="image2">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYvzRkC92R1r8mtn_I8FnKnU9oNHq1_DZ91A&usqp=CAU"
                    alt="" id="image2">
            </div>
        </a>
    </div>


    <!-- blog posts of page -->
    <div id="blogContainer">
        <!-- blog first -->
        <div class="containerPost">
            <p>Health Query</p>
            <a href="treatmentPost">
                <p class="postTitle">My father is 55 years old with diabetes for last 9 years managed with metformin and
                    ayurvedic medicine. Last year he undergone cataract surgery in rt eye. Problem he keeps worrying
                    about silly thing. From last 2 year he shows symptoms of depression and memory loss. He even forget
                    about a person in night whom he meet in noon. Fasting sugar is 156 and pp goes to 250. Bp 160/80
                    pulse 80 weight 55 hb1ac 9 urine normal how can I prevent aggravation of this and what is its
                    treatment.</p>
            </a>
            <hr style="margin:20px">
            <div class="doctorPart">
                <img class="doctorImage"
                    src="https://assets.lybrate.com/q_auto:low,f_auto,h_80,w_80,c_fill,g_auto:face/img/documents/doctor/dp/2dab3f5c2b37df4c855e8b530268b77b/Endocrinology-PrabhakarLaxmanJatharJathar-vharwad-40bb88.JPG"
                    alt="">
                <p class="doctorName"><a href="descrption">Dr.Prabhakar Laxman Jathar</a></p>
                <p class='doctorDetails'>MBBS, CCEBDM, Diploma in Diabetology, Diploma in Clinical Nutrition &
                    Dietetics, Cetificate Course In Thyroid Disorders Management (CCMTD) Endocrinologist, Dharwad •
                    50yrs exp</p>
                <p class="PersonImage"><a href=""><img
                            src="https://assets.lybrate.com/q_auto:eco,f_auto,w_850/imgs/tic/living-with-diabetes/male/living-with-diabetes-male-106.jpg"
                            alt=""></a></p>
                <p class="solution"><span>Hello, thanks for the query.</span>
                    <br>
                    <span>From the description it appears he might have developed some memory loss, that can happen with
                        aging. However, 55 years is not an old age. You may need to consult a neurophysician or
                        neurologist.
                        As regards his diabetes, it is quite clear that there is no proper control. Because hba1c% of 9%
                        and high fasting and pp glucose levels show that. It is clear that current tre.. <a
                            href="extraPart" class="extraPart">more</a></span>
                </p>
            </div>
            <div class="actionButtons">
                <a href="submitFeedback"><i class="far fa-comment-alt"></i>Submit FeedBack</a>
                <a href="comments"><i class="far fa-comments"></i>Consult-Online</a>
                <a href="apointment"><i class="far fa-calendar-alt"></i>Book-Appointment</a>
            </div>
        </div>

        <%    let z = 0 %>


        <!-- blog filled in runtime -->
        <% questions.forEach(ele=> { %>
        <% if(ele.answer!=" " && ele.answer!=undefined){ %>
        <%       if (z == 4){%>
        <%           z = 0%>
        <% } %>
        <div class="containerPost">
            <p>Health Query</p>
            <a href="treatmentPost">
                <p class="postTitle"><%= ele.question %> </p>
            </a>
            <hr style="margin:20px">
            <div class="doctorPart">
                <img class="doctorImage" src="<%=fedAr[z].doc  %> " alt="">
                <p class="doctorName"><a href="descrption"><%=fedAr[z].name  %> </a></p>
                <p class='doctorDetails'>MBBS, Bachelor of Unani Medicine and Surgery (B.U.M.S) Unani Specialist, Kanpur
                    • 17yrs exp</p>
                <p class="PersonImage"><a href=""><img src="<%= fedAr[z++].pat  %> " alt=""></a></p>
                <p class="solution"><span>Hello, thanks for the query.</span>
                    <br>
                    <span> <%=ele.answer  %> <a href="extraPart" class="extraPart">more</a></span>
                </p>
            </div>
            <div class="actionButtons">
                <a href="submitFeedback"><i class="far fa-comment-alt"></i>Submit FeedBack</a>
                <a href="comments"><i class="far fa-comments"></i>Consult-Online</a>
                <a href="apointment"><i class="far fa-calendar-alt"></i>Book-Appointment</a>
            </div>

        </div>
        <% } %>
        <% }) %>


    </div>




    <!-- ending and footer of page -->
    <div id="otherDetails">
        <div class="detailsAndPages">
            <div class="healthProducts">
                <li>
                    <p>Search Health Products</p>
                </li>
                <li><a href="">GoodKart</a></li>
                <li> <a href="">Vitamin ans Supplement</a></li>
                <li><a href="">Protein and Fitness</a></li>
                <li> <a href="">Skin and Hair Care</a></li>
            </div>
            <div class="doctors">
                <p style="color: rgb(182, 181, 181); margin: 7px;">Doctors</p>
                <li><a href="">Search doctors by city</a></li>
                <li>
                    <a href="">Search doctors by City Locality</a>
                </li>
                <li>
                    <a href="">Search doctors by city speciality</a>

                </li>
            </div>
            <div class="social">
                <a href="https://www.facebook.com/"><i id="facebook" class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/?lang=en"> <i id="twitter" class="fa fa-twitter"></i></a>
                <a href="https://in.linkedin.com/"><i id="linkedin" class="fa fa-linkedin"></i></a>
                <a href="https://mail.google.com/mail/"><i id="gmail" class="fa fa-envelope icon"></i></a>
            </div>
        </div>
        <div id="copyright">
            <p>© 2020 Lybrate, Inc. All rights reserved.</p>
        </div>
    </div>
</body>

</html>

<script src="scripts/health_feed.js"></script>