<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Online Doctor | Ask A Doctor Online | Lybrate</title>

  <!-- Google font - ROboto -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="/static/style.css">
</head>

<body>

  <header>
    <div class="topbar">
      <div class="container">
        <a href="https://www.lybrate.com/mobile?lpt=HOME">Get the App</a>
        <a href="../ForDoctors/fordoctors.html">For Doctors</a>
        <a href="../health_feed/health_feed.html">Health Feed</a>
        <a href="../login/login.html">Login/Sign-up</a>
      </div>
    </div>

    <div class="logo_and_nav_section">
      <div class="container">
        <div class="logo_container">
          <img class="logo" src="https://assets.lybrate.com/q_auto,f_auto//imgs/product/logos/Lybrate-Logo.png"
            alt="lybrate">
        </div>

        <div class="nav_and_cart_section">
          <nav class="navigation_menu">
            <div>
              <img
                src="https://assets.lybrate.com/q_auto,f_auto,h_28,w_28,c_fill/imgs/product/Homepage/Ask-Question.png"
                alt="">
              <a href="../login/login.html">Ask a Question</a>
            </div>
            <div>
              <img
                src="https://assets.lybrate.com/q_auto,f_auto,h_28,w_28,c_fill/imgs/product/Homepage/Book-Appointment.png"
                alt="">
              <a href="../bookApointment/bookApointment.html">Book Appointment</a>
            </div>
            <div>
              <img
                src="https://assets.lybrate.com/q_auto,f_auto,h_28,w_28,c_fill/imgs/product/Homepage/Consult-Online.png"
                alt="">
              <a href="../consultonline/consultonline.html">Consult Online</a>
            </div>
            <div>
              <img
                src="https://assets.lybrate.com/q_auto,f_auto,h_28,w_28,c_fill/imgs/product/Homepage/Book-Lab-test.png"
                alt="">
              <a href="#">Book Lab Test</a>
            </div>
          </nav>

          <div class="goodcart_and_cart_section">
            <button>
              <img src="../images/goodcart.png" alt="" onclick="gotoCart()">
            </button>

            <div class="cart_img_container">
              <img src="../images/cart.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bottom Navigation -->
    <div class="bottom_nav">
      <div class="bottom_container">
        <a href="#">Home</a>
        <a href="../health_feed/health_feed.html" style="cursor: pointer;">Health Feed</a>
        <a href="../good_kart/goodCart.html" style="cursor: pointer;">GoodKart</a>
        <a href="../login/login.html" style="cursor: pointer;">Ask a Question</a>
        <a href="../consultonline/consultonline.html" style="cursor: pointer;">Consult Online</a>
        <a href="#">Book Lab Test</a>
        <a href="#">Gold Membership</a>
      </div>
    </div>
  </header>

  <div class="hero">
    <div class="hero_content container">
      <h1 class="hero_heading">Stay at Home. Consult Doctors Online. <span class="bold">#IndiaFightsCorona.</span></h1>

      <div class="hero_search_section">

        <div class="input_and_dropdown">
          <input class="searchbar" type="text" placeholder="Search for any health keyword">
          <!-- drop down -->
          <div class="dropdown hide">
            <div><img src="../images/acne.png" alt=""><a href="#">
                Acne/Pimples</a></div>
            <div><img src="../images/depression.png" alt=""><a href="../bookApointment/bookApointment.html">
                Depression</a></div>
            <div><img src="../images/diabetes.png" alt=""><a href="#">
                Diabetes</a></div>
            <div><img src="../images/hair.png" alt=""><a href="#">
                Hair Fall</a></div>
            <div><img src="../images/pregnancy.png" alt=""><a href="#">
                Pregnancy</a></div>
            <div><img src="../images/Premature.png" alt=""><a href="#">
                Premature Ejaculation</a></div>
          </div>

        </div>

        <button class="search_button btn">Search</button>
      </div>

      <div class="trending_topics">
        <ul>
          <li>Trending Topics:</li>
          <li><a href="#">COVID-19</a></li>
          <li><a href="#">Black Fungus</a></li>
          <li><a href="#">Dengue fever</a></li>
          <li><a href="#">Asthma</a></li>
          <li><a href="#">Infertility</a></li>
          <li><a href="#">Diabetes</a></li>
          <li><a href="#">Dehydration</a></li>
        </ul>
      </div>

      <div class="hero_post_teaser">
        <p class="post_time">1 mins</p>
        <p class="post_about">21 year old Male from Mumbai just asked about Hair Growth</p>
      </div>

    </div>
  </div>

  <div class="coronavirus_tag">
    <div class="container">
      <h3>Coronavirus - Know all about it, watch doctor videos and track numbers across world</h3>
      <button class="know_more_button">Know More</button>
    </div>
  </div>

  <div class="nav_below_hero">
    <div class="container">

      <div class="items">
        <div class="item item1" onmouseover="showDropdown('.item1')" onmouseout="hideDropdown('.item1')">
          <a href="#">Diet, Food & Fitness</a>
          <img src="../images/down-arrow.png" alt="">

          <div class="dropdown hide">
            <div class="group">
              <h4>Weight Management</h4>
              <a href="#">Weight Gain</a>
              <a href="#">Weight Loss</a>
              <a href="#">Obesity</a>
              <h4>Nutrition & Diet</h4>
              <a href="#">Diet</a>
              <a href="#">Healthy Eating</a>
              <h4>Fitness & Exercise</h4>
              <a href="#">Meditation</a>
              <a href="#">Nutrition</a>
              <a href="#">Sport Injuries</a>
              <a href="#">Yoga</a>
            </div>
          </div>
        </div>

        <div class="item item2" onmouseover="showDropdown('.item2')" onmouseout="hideDropdown('.item2')">
          <a href="#">Skin & Hair Care </a>
          <img src="../images/down-arrow.png" alt="">

          <div class="dropdown hide">
            <div class="group">
              <h4>Skin Care</h4>
              <a href="#">Acne</a>
              <a href="#">Allergies</a>
              <a href="#">Anti-Ageing</a>
              <a href="#">Chickenpox</a>
              <a href="#">Eczema</a>
              <a href="#">Measles</a>
              <a href="#">Oily Skin Care</a>
              <a href="#">Psoriasis</a>
              <a href="#">Rosacea</a>
              <a href="#">Skin Care</a>
              <a href="#">Warts</a>
              <a href="#">Vitiligo</a>
            </div>
          </div>
        </div>

        <div class="item item3" onmouseover="showDropdown('.item3')" onmouseout="hideDropdown('.item3')">
          <a href="#">Diet, Food & Fitness</a>
          <img src="../images/down-arrow.png" alt="">

          <div class="dropdown hide">
            <div class="group">
              <h4>Respiratory Health</h4>
              <a href="#">Asthma</a>
              <a href="#">COPD</a>
              <h4>Diabetes</h4>
              <a href="#">Diabetes - Type 1</a>
              <a href="#">Diabetes - Type 2</a>
              <h4>Heart Health</h4>
              <a href="#">Cholestrol Management</a>
              <a href="#">Heart Disease</a>
              <a href="#">Hypertension</a>
            </div>
          </div>
        </div>

        <div class="item item4" onmouseover="showDropdown('.item4')" onmouseout="hideDropdown('.item4')">
          <a href="#">Pregnancy, Kids & Parenting </a>
          <img src="../images/down-arrow.png" alt="">

          <div class="dropdown hide">
            <div class="group">
              <h4>Pregnancy</h4>
              <a href="#">Getting Pregnant</a>
              <a href="#">Fertility</a>
              <a href="#">Miscarriage</a>
              <a href="#">Abortion</a>
              <a href="#">Post Pregnancy</a>
              <h4>Parenting - Newborn & Baby</h4>
              <a href="#">Baby Dental Health</a>
              <a href="#">Baby Development</a>
              <a href="#">Baby Diarrhea</a>
              <a href="#">Baby Nutrition</a>
              <a href="#">Baby Rashes and SkinCare</a>
              <a href="#">Diaper Rash</a>
              <a href="#">Diapering</a>
              <a href="#">Jaundice</a>
              <a href="#">Torticollis</a>
            </div>
          </div>
        </div>

        <div class="item item5" onmouseover="showDropdown('.item5')" onmouseout="hideDropdown('.item5')">
          <a href="#">Women's Health</a>
          <img src="../images/down-arrow.png" alt="">

          <div class="dropdown hide">
            <div class="group">
              <h4>Women's Health</h4>
              <a href="#">Birth Control</a>
              <a href="#">Breast Cancer</a>
              <a href="#">Having Safe Sex</a>
              <a href="#">Heavy Periods</a>
              <a href="#">Menopausey</a>
              <a href="#">Menstrual Cramps</a>
              <a href="#">Nipple Problems</a>
              <a href="#">Osteoporosis</a>
              <a href="#">Ovarian Cysts</a>
              <a href="#">PCOS/PCOD</a>
              <a href="#">PMS</a>
              <a href="#">Urinary Tract Infection (UTI)</a>
            </div>
          </div>
        </div>

        <div class="item item6" onmouseover="showDropdown('.item6')" onmouseout="hideDropdown('.item6')">
          <a href="#">Sexual Wellness </a>
          <img src="../images/down-arrow.png" alt="">

          <div class="dropdown hide">
            <div class="group">
              <h4>Sexual Wellness</h4>
              <a href="#">Erectile Dysfunction</a>
              <a href="#">Having Safe Sex</a>
              <a href="#">HIV</a>
              <a href="#">Infertility & Reproduction</a>
              <a href="#">Men's Libido</a>
              <a href="#">Nightfall</a>
              <a href="#">Premature Ejaculation</a>
              <a href="#">STDs</a>
            </div>
          </div>
        </div>

        <div class="item item7" onmouseover="showDropdown('.item7')" onmouseout="hideDropdown('.item7')">
          <a href="#">More</a>
          <img src="../images/down-arrow.png" alt="">

          <div class="dropdown hide">
            <div class="group">
              <h4>General Health</h4>
              <a href="#">Constipation</a>
              <a href="#">Healthy Digestion</a>
              <a href="#">Healthy Heart</a>
              <h4>Mental Well-Being</h4>
              <a href="#">Anger Management</a>
              <a href="#">Anxiety</a>
              <a href="#">Depression</a>
              <a href="#">Relationship Management</a>
              <a href="#">Stress</a>
            </div>
          </div>
        </div>

      </div> <!-- items ends -->
    </div>
  </div>

  <!-- Questions & Answers SECTION -->
  <div class="questions_and_answers_section">
    <div class="container">
      <div class="section_heading">
        <h3>Questions & Answers</h3>
        <div class="icon_and_subheading">
          <img src="../images/chat.png" alt="">
          <h5><span class="bold">10 million+</span> questions answered by doctors</h5>
        </div>
      </div>


      <div class="questions">

        <!-- question -->
        <% questions.forEach((question) => { %>
        <div class="question">
          <div class="top_heading_profile_and_img_section">
            <div class="heading_and_profile">
              <h2><%= question.question %></h2>
              <div class="profile_section">
                <div class="profile_picture">
                  <img src="<%= question.doctorId.image %>" alt="">
                </div>

                <div class="name_and_speciality">
                  <h3 class="name"><%= question.doctorId.name %></h3>
                  <p class="speciality"><%= question.doctorId.category %>, <%= question.doctorId.city %></p>
                </div>
              </div>
            </div>

            <div class="question_image_container">
              <img src="<%= question.img %>" alt="">
            </div>
          </div>

          <div class="description">
            <p><%= question.answer %></p>
          </div>

          <div class="wishlist_and_save">
            <img src="../images/wishlist.png" alt="">
            <img src="../images/saved.png" alt="">
          </div>
        </div>
        <% }) %>

        <!-- Ask a question section -->
        <div class="ask_a_question_section">
          <!-- Heading section -->
          <div class="heading_section">
            <img
              src="https://assets.lybrate.com/q_auto,f_auto,h_28,w_28,c_fill/imgs/product/Homepage/ic_ask_question_color_48x48.png"
              alt="">

            <div class="heading_content">
              <h3>Ask a Question</h3>
              <p>Get FREE multiple opinions from Doctors</p>
            </div>
          </div>

          <!-- Input section -->
          <textarea class="ask_question_input" type="text"
            placeholder="Enter question for you or someone else. E.g. my left eye is red and swollen"></textarea>

          <!-- Submit section -->
          <div class="submit_section">
            <p>Submit Anonymously</p>
            <button class="btn submit_button">Sumbit</button>
          </div>
        </div>

        <div class="more_questions_answers">
          <p>View More Questions & Answers</p>
        </div>

      </div> <!-- Questions section end -->


    </div>
  </div> <!-- Questions and answers section end -->

  <div class="health_tips_section">
    <div class="container">

      <!-- Heading -->
      <div class="health_tips">
        <div class="section_heading">
          <h3>Health Tips</h3>
          <div class="icon_and_subheading">
            <img src="../images/healthtips.png" alt="">
            <h5>Prevent and manage health issues better</h5>
          </div>
        </div>
      </div>

      <div class="posts">

        <% for(let i = 0; i < 1; i++) { %>
        <div class="main_tip">
          <div class="img_container">
            <img src="<%= tips[0].img %>" alt="">
          </div>

          <div class="tip_content">
            <h2><%= tips[0].title %></h2>
            <p><%= tips[0].content %></p>

            <div class="button_and_wishlist_section">
              <button>Read More</button>
              <div>
                <img src="../images/wishlist.png" alt="">
                <img src="../images/saved.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <% } %>


        <div class="sidebar_tips_section">

          <div class="sidebar_tips">

            <% for(let i = 1; i < tips.length; i++) { %>
            <div class="tip">
              <div class="img_container">
                <img src="<%= tips[i].doctorId.image %>" alt="">
              </div>

              <div class="title_and_name">
                <h3><%= tips[i].title %></h3>
                <p><%= tips[i].doctorId.name %>, <%= tips[i].doctorId.category %></p>
              </div>
            </div>
            <% } %>

          </div> <!-- Sidebar tips ends -->

          <div class="view_more_button">
            <button>View More Health Tips</button>
          </div>

        </div> <!-- Sidebar tips section ends -->

      </div> <!-- Posts ends -->
    </div> <!-- container ends -->
  </div> <!-- health_tips_section ends -->

  <div class="videos_and_quizzes_section">
    <div class="container">

      <!-- Heading -->
      <div class="videos_heading">
        <div class="section_heading">
          <h3>Videos</h3>
          <div class="icon_and_subheading">
            <img src="../images/videos.png" alt="">
            <h5>Top doctors explain complex health issues</h5>
          </div>
        </div>
      </div>

      <div class="videos">

        <!-- Video -->
        <% videos.forEach((video) => { %>
        <div class="video">
          <img class="background_image" src="<%= video.img %>" alt="">
          <div class="video_overlay">
            <button><img src="../images/play-arrow.png" alt=""></button>
            <div class="wishlist_saved">
              <img src="../images/wishlist.png" alt="">
              <img src="../images/saved.png" alt="">
            </div>

            <h3 class="title"><%= video.title %></h3>

            <div class="profile_section">
              <div class="profile_picture">
                <img src="<%= video.doctorId.image %>" alt="">
              </div>

              <div class="name_and_speciality">
                <h3 class="name"><%= video.doctorId.name %></h3>
                <p class="speciality"><%= video.doctorId.category %>, <%= video.doctorId.city %></p>
              </div>
            </div>
          </div>
        </div>
        <% }) %>

      </div> <!-- Videos ends -->

      <!-- Heading -->
      <div class="quizzes_heading">
        <div class="section_heading">
          <h3>Quizzes</h3>
          <div class="icon_and_subheading">
            <img src="../images/quiz.png" alt="">
            <h5>18 million+ times people busted their healthcare myths</h5>
          </div>
        </div>
      </div>

      <!-- quiz -->
      <div class="quizzes">

        <% quizzes.forEach((quiz) => { %>
        <div class="quiz">
          <div class="img_container">
            <img src="<%= quiz.img %>" alt="">
          </div>

          <div class="quiz_content">
            <div class="title">
              <h3><%= quiz.title %></h3>
            </div>

            <div class="profile_section">
              <div class="profile_picture">
                <img src="<%= quiz.doctorId.image %>" alt="">
              </div>

              <div class="name_and_speciality">
                <h3 class="name"><%= quiz.doctorId.name %></h3>
                <p class="speciality"><%= quiz.doctorId.category %>, <%= quiz.doctorId.city %></p>
              </div>

            </div>
          </div>
        </div>
        <% }) %>

      </div> <!-- quizzes ends -->
    </div> <!-- container ends -->
  </div> <!-- videos_and_quizzes_section ends -->

  <div class="are_you_doctor_section">
    <div class="container">
      <h3>Are you a Doctor?</h3>
      <p>Be a part of the next big thing in healthcare. Join us in our journey of revolutionizing healthcare delivery
        by
        harnessing technology to help millions lead healthier lives.</p>
      <button class="button">Know More</button>
    </div>

  </div> <!-- are you doctor section ends -->

  <div class="top_categories_and_cities_section">
    <div class="container">
      <!-- Heading -->
      <div class="categories_heading">
        <div class="section_heading">
          <h3>Top Categories</h3>
        </div>
      </div>

      <div class="top_categories cards">

        <div class="card">
          <img src="https://assets.lybrate.com/q_auto,f_auto/code/img/dietitian-nutritionist.jpg" alt="">
          <div class="content">
            <h5>Dietitian/Nutritionist</h5>
          </div>
        </div>

        <div class="card">
          <img src="https://assets.lybrate.com/q_auto,f_auto/code/img/gynaecologist.jpg" alt="">
          <div class="content">
            <h5>Gynaecologist</h5>
          </div>
        </div>

        <div class="card">
          <img src="https://assets.lybrate.com/q_auto,f_auto/code/img/psychologist.jpg" alt="">
          <div class="content">
            <h5>Psychologist</h5>
          </div>
        </div>

        <div class="card">
          <img src="https://assets.lybrate.com/q_auto,f_auto/code/img/dermatologist.jpg" alt="">
          <div class="content">
            <h5>Dermatologist</h5>
          </div>
        </div>

      </div> <!-- top categories ends -->

      <!-- Heading -->
      <div class="categories_heading">
        <div class="section_heading">
          <h3>Top Cities</h3>
        </div>
      </div>

      <div class="top_cities cards">

        <div class="card">
          <img src="https://assets.lybrate.com/q_auto,f_auto/code/img/cities/delhi_city.jpg" alt="">
          <div class="content">
            <h5>Delhi</h5>
          </div>
        </div>

        <div class="card">
          <img src="https://assets.lybrate.com/q_auto,f_auto/code/img/cities/bangalore_city.jpg" alt="">
          <div class="content">
            <h5>Bangalore</h5>
          </div>
        </div>

        <div class="card">
          <img src="https://assets.lybrate.com/q_auto,f_auto/code/img/cities/mumbai_city.jpg" alt="">
          <div class="content">
            <h5>Mumbai</h5>
          </div>
        </div>

        <div class="card">
          <img src="https://assets.lybrate.com/q_auto,f_auto/code/img/cities/kolkata_city.jpg" alt="">
          <div class="content">
            <h5>Kolkata</h5>
          </div>
        </div>

      </div>
    </div>
  </div> <!-- top categories and cities section ends -->

  <div class="about_section">
    <div class="container">
      <h3>About Lybrate</h3>
      <p>

        Are you looking for a simple way to get the best medical care available? Lybrate.com innovative online doctor
        database gives you access to over 150,000 highly trained medical experts. So you can ask a doctor anything you
        want, simple with a touch of a finger. You can save as much as 70% of your time and money at your next visit
        to
        the doctor and with the assurance that the medical professional you are seeing is highly trained and
        experienced.
        We use a stringent verification process to ensure you are 100% satisfied every time. Subscribe to the Lybrate
        Online Doctor network today to get the very best access to free questions, consultations and easy
        appointments.
        Join today!
      </p>
      <p>

        Looking to ask a doctor questions about your health online? Lybrate offers a fast, easy and friendly way to
        gain
        access to general practitioners, dieticians, nutritionists, gynaecologists, psychologist, dermatologist,
        sexologist, ayurveda, homeopathy and more. You can get in touch with online doctors 24 hours a day, 7 days a
        week
        with this simple application. No matter what your condition, Lybrate can get you in touch with a doctor online
        straight away. To find out more, subscribe to our ask a doctor service online or download the app and get
        access
        to doctors on the go!
      </p>

      <p>
        Not only does Lybrate give you access to online medical professionals, we also have regular blogs from
        respected
        experts that give you tips and advice on health and well being. Our doctors discuss a range of topics from
        everyday living, parenting, pregnancy and how to manage your conditions, all online and accessible from your
        computer, phone or tablet. Simply download the app and get access to free questions, consultations and easy
        appointments. Get your health feed now with Lybrate and ask a doctor what you've always wanted to know!
      </p>
    </div>
  </div> <!-- about_section ends -->

  <footer>
    <div class="container">
      <div class="width_wrapper">
        <div class="top_links">
          <div class="section">
            <h3>Delhi</h3>
            <a href="#">Dentist in Delhi</a>
            <a href="#">General Physicians in Delhi</a>
            <a href="#">Cardiologist in Delhi</a>
            <a href="#">Gynaecologist in Delhi</a>
            <a href="#">Psychiatrist in Delhi</a>
            <a href="#">Dermatologist in Delhi</a>
            <a href="#">Neurologist in Delhi</a>
            <a href="#">Urologist in Delhi</a>
            <a href="#">Ophthalmologist in Delhi</a>
            <a href="#">Sexologist in Delhi</a>
          </div>

          <div class="section">
            <h3>Mumbai</h3>
            <a href="#">Dentist in Mumbai</a>
            <a href="#">General Physicians in Mumbai</a>
            <a href="#">Cardiologist in Mumbai</a>
            <a href="#">Gynaecologist in Mumbai</a>
            <a href="#">Psychiatrist in Mumbai</a>
            <a href="#">Dermatologist in Mumbai</a>
            <a href="#">Neurologist in Mumbai</a>
            <a href="#">Urologist in Mumbai</a>
            <a href="#">Ophthalmologist in Mumbai</a>
            <a href="#">Sexologist in Mumbai</a>
          </div>

          <div class="section">
            <h3>Chennai</h3>
            <a href="#">Dentist in Chennai</a>
            <a href="#">General Physicians in Chennai</a>
            <a href="#">Cardiologist in Chennai</a>
            <a href="#">Gynaecologist in Chennai</a>
            <a href="#">Psychiatrist in Chennai</a>
            <a href="#">Dermatologist in Chennai</a>
            <a href="#">Neurologist in Chennai</a>
            <a href="#">Urologist in Chennai</a>
            <a href="#">Ophthalmologist in Chennai</a>
            <a href="#">Sexologist in Chennai</a>
          </div>

          <div class="section">
            <h3>Bangalore</h3>
            <a href="#">Dentist in Bangalore</a>
            <a href="#">General Physicians in Bangalore</a>
            <a href="#">Cardiologist in Bangalore</a>
            <a href="#">Gynaecologist in Delhi</a>
            <a href="#">Psychiatrist in Bangalore</a>
            <a href="#">Dermatologist in Bangalore</a>
            <a href="#">Neurologist in Bangalore</a>
            <a href="#">Urologist in Bangalore</a>
            <a href="#">Ophthalmologist in Bangalore</a>
            <a href="#">Sexologist in Bangalore</a>
          </div>

          <div class="section">
            <h3>Lybrate.com</h3>
            <a href="#">About Us</a>
            <a href="#">Contact Us</a>
            <a href="#">Careers</a>
            <a href="#">Mobile Apps</a>
            <a href="#">Blog</a>
            <a href="#">Terms of Use</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Editorial Policy</a>
            <a href="#">Press</a>
          </div>
        </div>

        <div class="bottom_links">
          <div class="left_links">
            <a href="#">City Index</a>
            <a href="#">Locality City Index</a>
            <a href="#">Specialty Index</a>
            <a href="#">Specialty City Index</a>
            <a href="#">Health Wiki</a>
            <a href="#">Health Tips Index</a>
            <a href="#">Health Questions Index</a>
            <a href="#">Health Quizzes Index</a>
            <a href="#">Health Topics Index</a>
            <a href="#">Health Topics Index</a>
            <a href="#">Medicines Index</a>
            <a href="#">Ailment Index</a>
            <a href="#">Health Packages</a>
            <a href="#">Lab Test Details Index</a>
            <a href="#">Treatment Pages Index</a>
            <a href="#">Patient Support Programs</a>
          </div>

          <div class="social_icons">
            <img src="../images/facebook.png" alt="">
            <img src="../images/twitter.png" alt="">
            <img src="../images/linkedin.png" alt="">
            <img src="../images/youtube.png" alt="">
          </div>
        </div>
      </div>
    </div> <!-- container ends -->
  </footer>

  <script src="scripts/index.js">

  </script>
</body>

</html>