<!DOCTYPE html>
<html lang="en">

<head>

    <title>Lybrate | Consultant Centre</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384- 
    B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/prescription.question.css">
</head>

<body>

    <!-- top navbar -->
    <div id="headImage">
        <div>
            <img src="https://doctor.lybrate.com/img/lybrate-logo.png" alt="">
        </div>
        <div id="container">
            <p><a href="../health_feed/health_feed.html">Health Feed</a></p>
            <p><a href="/prescription/answer" style="cursor: pointer; font-size: 15px; ">SUBMITTED ANSWERS</a></p>
            <p style="cursor: pointer">View Profile</p>
        </div>
    </div>

    <!-- page navigator -->
    <div id="navigator">Home <a>></a> Questions</div>


    <div id="centraldiv">
        <!-- questions and answers section -->
        <div id="qnaPart">
            <% let eachId=1 %>
                <% let count=0 %>
                    <% questions.forEach(ele=> { %>
                        <% if(ele.answer=="" || ele.answer==undefined){ %>
                            <% count++ %>
                                <div class="eachElement" id="<%= eachId++ %> ">
                                    <div class="dateOfPost">
                                        <p>
                                            <%= ele.createdAt %>
                                        </p>
                                        <p>
                                            Age : <%= Math.floor(Math.random() * 60) + 20; %>
                                        </p>
                                        <p>
                                            Gender : <%= ele.gender %>
                                        </p>
                                    </div>
                                    <div class="questionAsked" id="<%= eachId++ %>">
                                        <%= ele.question%>
                                    </div>
                                    <form action="/question" method="POST">
                                        <textarea name="<%= ele._id %> " cols="80" rows="10"
                                            placeholder="Prescription....." required></textarea>
                                        <div class="SubmitAnswer">
                                            <i style="font-size:24px" class="fa">&#xf2c6;</i>
                                            <button id="<%= eachId++ %>">Submit Answer</button>
                                        </div>
                                    </form>
                                </div>
                                <% } %>
                                    <% }); %>
        </div>
        <!-- questions count -->
        <div id="availableQuestions">
            <p>AVAILABLE QUESTIONS</p>
            <p id="questionCount">
                <%= count %>

            </p>
            <p>ANSWERED QUESTIONS</p>
            <P id="answersCount">
                <%=questions.length- count %>
            </P>
        </div>

    </div>

    <!-- ending and footer of page -->
    <div id="otherDetails">
        <div class="detailsAndPages">
            <div class="healthProducts">
                <li>
                    <p>Search Health Products</p>
                </li>
                <li><a href="">GoodKart</a></li>
                <li> <a href="">Vitamin ans Supplement</a></li>
                <li><a href="">Protein and Fitness</a></li>
                <li> <a href="">Skin and Hair Care</a></li>
            </div>
            <div class="doctors">
                <p style="color: rgb(182, 181, 181); margin: 7px;">Doctors</p>
                <li><a href="">Search doctors by city</a></li>
                <li>
                    <a href="">Search doctors by City Locality</a>
                </li>
                <li>
                    <a href="">Search doctors by city speciality</a>

                </li>
            </div>
            <div class="social">
                <a href="https://www.facebook.com/"><i id="facebook" class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/?lang=en"> <i id="twitter" class="fa fa-twitter"></i></a>
                <a href="https://in.linkedin.com/"><i id="linkedin" class="fa fa-linkedin"></i></a>
                <a href="https://mail.google.com/mail/"><i id="gmail" class="fa fa-envelope icon"></i></a>
            </div>
        </div>
        <div id="copyright">
            <p>© 2020 Lybrate, Inc. All rights reserved.</p>
        </div>
    </div>
</body>

</html>